// -----------------------------------------

//    Header: Primary Navigation

// tweak: { "category" : "Header: Primary Navigation", "label": "Width", "title" : "tweak-header-primary-nav-width", "type" : "dropdown", "options" : [ "Full width", "Auto" ], "default" : "Auto", "target" : ".Header-nav--primary", "showOnlyWhenPresent" : ".has-primary-nav:not(.ancillary-header-primary-nav-position-hide)" }

// tweak: { "category": "Header: Primary Navigation", "label": "Active Style: Border - Color", "title" : "tweak-header-overlay-primary-nav-link-active-style-color", "type" : "color", "target" : ".Header-nav--primary", "showOnlyWhenPresent" : ".has-primary-nav.tweak-header-primary-nav-hover-style-active:not(.ancillary-header-primary-nav-position-hide):not(.tweak-header-primary-nav-hover-style-button) .Header--overlay .Header-nav--primary" }
@tweak-header-overlay-primary-nav-link-active-style-color: #fff;

// tweak: { "category": "Header: Primary Navigation", "label": "Active Style: Border - Width", "title" : "tweak-header-overlay-primary-nav-link-active-style-border-width", "type" : "value", "min" : 0, "max" : 10, "step" : 1, "target" : ".Header-nav--primary", "showOnlyWhenPresent" : ".has-primary-nav.tweak-header-primary-nav-hover-style-active:not(.ancillary-header-primary-nav-position-hide):not(.tweak-header-primary-nav-hover-style-button) .Header--overlay .Header-nav--primary" }
@tweak-header-overlay-primary-nav-link-active-style-border-width: 2px;


// -----------------------------------------

//    Main

// tweak: { "category" : "Main: Overlay", "label" : "Minimum Height", "title" : "tweak-main-intro-overlay-min-height", "type" : "value", "step" : 1, "min" : 50, "max" : 100, "target" : ".Intro", "showOnlyWhenPresent" : ".Intro.Intro--has-image", "js": true }
@tweak-main-intro-overlay-min-height: 80vh;


// -----------------------------------------

//    Summary grid: Artists

// tweak: { "category": "Summary grid: Artists", "label" : "Shadow intensity", "title" : "tweak-summary-grid-artists-shadow-intensity", "type" : "value", "min" : 0, "max" : 1, "step" : 0.1, "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
@tweak-summary-grid-artists-shadow-intensity: 0.3;

// tweak: { "category": "Summary grid: Artists", "label" : "Border color", "title" : "tweak-summary-grid-artists-overlay-color", "type" : "color", "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
@tweak-summary-grid-artists-overlay-color: rgba(255,255,255,0.6);

// tweak: { "category": "Summary grid: Artists", "label" : "Border width", "title" : "tweak-summary-grid-artists-overlay-width", "type" : "value", "min" : 0, "max" : 999, "step" : 1, "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
@tweak-summary-grid-artists-overlay-width: 12px;

// tweak: { "category": "Summary grid: Artists", "label" : "Border width (hover)", "title" : "tweak-summary-grid-artists-overlay-width-hover", "type" : "value", "min" : 0, "max" : 999, "step" : 1, "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
@tweak-summary-grid-artists-overlay-width-hover: 0px;

// tweak: { "category": "Summary grid: Artists", "label" : "Border radius", "title" : "tweak-summary-grid-artists-border-radius", "type" : "value", "min" : 0, "max" : 100, "step" : 1, "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
@tweak-summary-grid-artists-border-radius: 50%;

// tweak: { "category": "Summary grid: Artists", "label" : "Overlay: Color", "title" : "tweak-summary-grid-artists-overlay-color-hover", "type" : "color", "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
@tweak-summary-grid-artists-overlay-color-hover: rgba(63,147,147, 0.8);

// tweak: { "category": "Summary grid: Artists", "label" : "Overlay: Text color", "title" : "tweak-summary-grid-artists-overlay-text-color", "type" : "color", "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
@tweak-summary-grid-artists-overlay-text-color: #fff;

// tweak: { "category": "Summary grid: Artists", "label" : "Overlay: Divider color", "title" : "tweak-summary-grid-artists-overlay-divider-color", "type" : "color",  "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
@tweak-summary-grid-artists-overlay-divider-color: rgba(255,255,255, 0.5);

// tweak: { "category": "Summary grid: Artists", "label" : "Overlay: Title font", "title" : "tweak-summary-grid-artists-title-font", "type" : "font", "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
.tweak-summary-grid-artists-title-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0em;
  text-transform: none;
}

// tweak: { "category": "Summary grid: Artists", "label" : "Overlay: Meta font", "title" : "tweak-summary-grid-artists-meta-font", "type" : "font", "target" : ".summary-block-setting-design-autocolumns.summary-block-collection-type-artists" }
.tweak-summary-grid-artists-meta-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0em;
  text-transform: none;
}


// -----------------------------------------

//      Content

// tweak: { "category" : "Line", "label" : "Height", "title" : "tweak-line-height", "type" : "value", "min" : 0, "max" : 8, "step" : 0.5, "target" : ".Main .sqs-block-horizontalrule, .Main .sqs-block-markdown blockquote, .Main .sqs-block-html blockquote, .Intro:not(.Intro--has-image) .sqs-block-horizontalrule, .Intro:not(.Intro--has-image) .sqs-block-html blockquote, .Intro:not(.Intro--has-image) .sqs-block-markdown blockquote, .Index-page:not(.Index-page--has-image) .sqs-block-horizontalrule, .Index-page:not(.Index-page--has-image) .sqs-block-html blockquote, .Index-page:not(.Index-page--has-image) .sqs-block-markdown blockquote", "showOnlyWhenPresent" : ".Main .sqs-block-horizontalrule, .Main .sqs-block-markdown blockquote, .Main .sqs-block-html blockquote, .Intro:not(.Intro--has-image) .sqs-block-horizontalrule, .Intro:not(.Intro--has-image) .sqs-block-html blockquote, .Intro:not(.Intro--has-image) .sqs-block-markdown blockquote, .Index-page:not(.Index-page--has-image) .sqs-block-horizontalrule, .Index-page:not(.Index-page--has-image) .sqs-block-html blockquote, .Index-page:not(.Index-page--has-image) .sqs-block-markdown blockquote" }
@tweak-line-height: 1px;

// tweak: { "category" : "Line", "label" : "Height", "title" : "tweak-line-shadow-color", "type" : "color", "target" : ".Main .sqs-block-horizontalrule, .Main .sqs-block-markdown blockquote, .Main .sqs-block-html blockquote, .Intro:not(.Intro--has-image) .sqs-block-horizontalrule, .Intro:not(.Intro--has-image) .sqs-block-html blockquote, .Intro:not(.Intro--has-image) .sqs-block-markdown blockquote, .Index-page:not(.Index-page--has-image) .sqs-block-horizontalrule, .Index-page:not(.Index-page--has-image) .sqs-block-html blockquote, .Index-page:not(.Index-page--has-image) .sqs-block-markdown blockquote", "showOnlyWhenPresent" : ".Main .sqs-block-horizontalrule, .Main .sqs-block-markdown blockquote, .Main .sqs-block-html blockquote, .Intro:not(.Intro--has-image) .sqs-block-horizontalrule, .Intro:not(.Intro--has-image) .sqs-block-html blockquote, .Intro:not(.Intro--has-image) .sqs-block-markdown blockquote, .Index-page:not(.Index-page--has-image) .sqs-block-horizontalrule, .Index-page:not(.Index-page--has-image) .sqs-block-html blockquote, .Index-page:not(.Index-page--has-image) .sqs-block-markdown blockquote" }
@tweak-line-shadow-color: rgba(0,0,0,0.1);
